@model Final.Models.User_tbl
@{
    ViewBag.Title = "Login";
}
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>


<br />
<br />
<br />
<br />
<a href="#" class="btn btn-primary btn-lg btn-block" style="background-color:#010431;">LOGIN</a>
<br />
<br />
<br />
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="row" style="font:bold; font-size:small">
        <div class="col-md-6">
            <img src="~/Images/home_mack_capital4.jpg" alt="Exchange" width="500" />
        </div>
            
            <div class="col-md-6" style="font-family:Arial; font-size:medium">
                <form class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.employeeNo, htmlAttributes: new { @class = "col-sm-2 control-label" })
                        @*<label for="Username" class="col-sm-2 control-label">Username</label>*@
                        <div class="col-sm-10">
                            @Html.EditorFor(model => model.employeeNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.employeeNo, "", new { @class = "text-danger" })
                            @*<input type="text" class="form-control" id="Username" placeholder="Username">*@
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Remember me
                                </label>
                            </div>
                          
                        </div>
                    </div>
                   
                    
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" name="button" value="Login" class="btn btn-primary" style="background-color:#010431;"width="30" onclick="@("window.location.href='" + Url.Action("Company","Home" )+"'")"/>
                            <a href="#" onclick="@("window.location.href='" + Url.Action("ForgotPassword","Home" )+"'")">Forgot your password?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
 }

            




